/* styling for boxes */
h1{
    font-size: 50px;
    text-align: center;
}

.sub-text{
    text-align: right;
    padding-right: 5vw;
}

/* .artwork{
    height: 50%;
    width: 60%;
} */

.art-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 15px;
    row-gap: 7px;
    justify-content: stretch;
    column-gap: 15px;
    margin-right: 40px;
    margin-left: 40px;
}

.small-box{
    /* border: 5px solid blue; */
    height: 150px;
    background-color: #459599;
}

.bottom-section {
    display: grid;
    row-gap: 15px;
    grid-template-rows: auto auto;
    margin-right: 40px;
    margin-left: 40px;

}

.big-box{
    /* border: 5px solid blueviolet; */
    height: 380px;
    background-color: #459599;
}

.skinny-box {
    /* border: 5px solid orange; */
    height: 20px;
    background-color: #BADA55;
}

/* shapes  */
.triangle1 {
    /* justify-content: right; */
    position: fixed;
    /* float: right; */
    right: 230px;
    bottom: 155px;
    width: 0; 
    height: 0; 
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 500px solid #065535;
}

.triangle2 {
    position: fixed;
    right: 50px;
    bottom: 155px;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 400px solid #8fce00;
}

.circle-one {
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: #fa8072;
    border-radius: 50%;
    left: 96px;
    top: 246px;
}

.circle-two {
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: #fa8072;
    border-radius: 50%;
    left: 90px;
    top: 130px;
}

.circle-three {
    position: fixed;
    height: 100px;
    width: 100px;
    background-color: #ffe599;
    border-radius: 50%;
    left: 380px;
    top: 150px;
}

.circle-four {
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: #ffe599;
    border-radius: 50%;
    
}




/* styling for form */

.header-form{
    margin-left: 28px;
    font-size: 20px;
}

.form-container {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.last-name {
    padding-left: 12px;
}

.user-email {
    padding-left: 12px;
}

.submit-button {
    margin-left: 30px;
}