/* styling for boxes */
h1{
    font-size: 50px;
    text-align: center;
}

.sub-text{
    text-align: right;
    padding-right: 5vw;
}

/* .artwork{
    height: 50%;
    width: 60%;
} */

.art-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 15px;
    row-gap: 7px;
    justify-content: stretch;
    column-gap: 15px;
    margin-right: 40px;
    margin-left: 40px;
}

.small-box{
    /* border: 5px solid blue; */
    height: 150px;
    background-color: #459599;
}

.bottom-section {
    display: grid;
    row-gap: 15px;
    grid-template-rows: auto auto;
    margin-right: 40px;
    margin-left: 40px;

}

.big-box{
    /* border: 5px solid blueviolet; */
    height: 380px;
    background-color: #459599;
}

.triangles {
    justify-content: right;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    
    border-bottom: 100px solid #065535;
  }

.skinny-box {
    /* border: 5px solid orange; */
    height: 20px;
    background-color: #BADA55;
}


/* styling for form */

.header-form{
    margin-left: 28px;
    font-size: 20px;
}

.form-container {
    display: flex;
    margin-left: 30px;
    justify-content: center;
}

.last-name {
    padding-left: 12px;
}

.user-email {
    padding-left: 12px;
}

.submit-button {
    margin-left: 30px;
}